{{> navbar}}

<div class="container border border-info bg-dark text-white">
    <div class="row">
        <div class="col-md-12 rounded-pill">
            <h2>אופס נראה שהתרחשה שגיאה</h2>
        </div>
        <div class="col-md-12">
            <a href="/">Go back to the homepage</a>
        </div>
    </div>
</div>

